h2 {
	text-align: center;
	font-weight: bold;
	font-size: xx-large;
}
.effect:hover {
	/* Animation for books*/

	height: 320px;
	background: rgb(173, 172, 172);
	border: solid 2px black;

	transition: .4s ease-in-out;
	box-shadow: 0 12px 14px 0 rgb(0 0 0 / 10%);
	object-fit: cover;
}
hr {
	width: 60%;
}

hr.style-two {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
body {
	font-family: 'Dancing Script', cursive;
}
